html,
body,
#map {
	height: 100%;
	overflow: hidden;
}

#map {
	width: 100%;
}

.modal {
	background: #FFF;
	border-radius: 10px;
	left: 50px;
	position: absolute;
	top: 50px;
	width: 340px;
}

.modal_header {
	background-color: #FE8663;
	border-radius: 10px 10px 0 0;
	padding: 13px 35px 13px 13px;
	position: relative;
}

.modal_header .close {
	background: url("../img/close.png") no-repeat;
	cursor: pointer;
	height: 12px;
	position: absolute;
	right: 13px;
	top: calc(50% - 6px);
	transition: transform 0.75s;
	width: 12px;
}

.modal_header .close:hover {
	transform: rotate(360deg);
}

.modal_header .address {
	background: url("../img/address.png") no-repeat 0 center;
	color: #FFF;
	font-size: 12px;
	padding-left: 16px;
}

.modal_body {
	border-radius: 0 0 10px 10px;
	color: #4E4E4E;
	font-size: 14px;
	padding: 13px;
}

.reviews {
	height: 140px;
	overflow: auto;
}

.reviews .review {
	margin-bottom: 20px;
}

.review .name {
	font-weight: bold;
}

.review .text {
	margin-top: 10px;
}

.review > span:not(:last-of-type) {
	margin-right: 6px;
}

.review .date {
	font-size: 12px;
}

.form_reviews {
	border-top: 1px solid #CCC;
	padding-top: 10px;
	text-align: right;
}

.form_reviews .title {
	color: #FE8663;
	font-weight: bold;
	text-align: left;
	text-transform: uppercase;
}

.form_reviews input[type="text"],
.form_reviews textarea {
	border: 1px solid #CCC;
	border-radius: 15px;
	box-sizing: border-box;
	display: block;
	margin-top: 13px;
	padding: 6px 12px;
	width: 100%
}

.form_reviews textarea {
	margin-bottom: 13px;
	height: 120px;
	resize: none;
}

.form_reviews input[type="button"] {
	background-color: #FE8663;
	border: none;
	border-radius: 10px;
	color: #FFF;
	cursor: pointer;
	font-size: 12px;
	padding: 8px 16px;
}

.form_reviews input[type="button"]:hover {
	background-color: #C9704D;
}

.overlay {
	background: rgba(0, 0, 0, 0.4);
	height: 100%;
	left: 0;
	position: absolute;
	top: 0;
	width: 100%;
}